<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usiandroid.gameoflife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SandBox" />
        <activity android:name=".Challenges.ChallengeMenu" />
        <activity android:name=".Challenges.TheCross" />
        <activity android:name=".Challenges.Yandroid" />
        <activity android:name=".Challenges.Layers" />
        <activity android:name=".Challenges.HalfHalf" />
        <activity android:name=".Challenges.Chevron"></activity>
    </application>

</manifest>
